@import url(/font/Bitcount/Bitcount-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf);
@font-face {
    font-family: "JogoFont";
    src: url(/font/Bitcount/Bitcount-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf)
    format('truetype');
}

@import url(/font/Press_Start_2P/PressStart2P-Regular.ttf);
@font-face {
    font-family: "jogo2";
    src: url(/font/Press_Start_2P/PressStart2P-Regular.ttf)
    format('truetype');
}

#p1{
    font-family:'JogoFont';
    font-size:150pt;
    color: #33CCFF;
    text-align: center;
    margin: 120px;
}
#bod{
    background-color:#000099;
}

 #mudaCor{
    font-family: 'jogo2';
    border: 0;
 }

.controls { margin: 12px 0; }
.matriz { font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace; line-height: 1.6; }
button {
     padding: 8px 12px; 
     border-radius: 8px; 
     background-color: #33CCFF;
     color:#000099;
     cursor: pointer; 
     opacity:0.8;
     transition:0.4s;
    }

button:hover { 
    opacity:1;
    background-color: #1A66CC;
    border-radius: 10px;
 }

 a{
    text-decoration: none;
 }

 a:hover{
    color: white;
 }

/*CSS: Modal*/

#closeModal{
    background-color: #33CCFF;
    color: #000099;
    border: 3px #33CCFF solid;
    font-family:'jogo2';
    font-size: 10pt;
    
}
#fadee{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.6);
    z-index:5;
}

#openModal{
    font-family:'jogo2';
    font-size: 30pt;
}

#modal{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    background-color: #000099;
    width: 800px;
    padding: 1.2rem;
    border-radius: .5rem;
    color: white;
    font-family: 'jogo2', sans-serif;

}

.modalHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1A66CC;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    font-family:'jogo2';
    font-size: 15pt;
    margin-left: 25px;
}

.modal-body{
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 10pt;
    text-align: justify;
}


#fadee, #modal{
    transition:.5s;
    opacity: 1;
    pointer-events: all;
}

#modal.hide,
#fadee.hide {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

#modal,
#fadee {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: opacity .1s ease, visibility .1s ease;
}

#modal.hide{
    top:0;
    transition:1s;
}

#modal.hide,
#fadee.hide{
    opacity: 0;
    visibility: hidden;
}

#fade, #modal{
    transition: .5s ease;
    opacity:1;
    visibility: visible;
}

a.btn{
    font-size:15pt;
}

#p2{
    font-family:'jogo2';
    font-size:65pt;
    color: #33CCFF;
    text-align: center;
    text-decoration: underline;
}

.a2{
    text-decoration: none;
    color: #000099;
}

/*CSS: Sobre Nós*/

.bolinha{
    border: #000099 5px solid;
    border-radius: 50%;
    height: 250px;
}

.pessoa{
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto{
    display: block;
    font-size: 25px;
    width: 400px;
    height: 350px;
    overflow-wrap: break-word;
    line-height: 1.5;
    margin: 30px;
}

.social{
    width: 70%;
    margin: 80px;
}

.social a{
    display: inline-block;
}

.social a:hover {
    text-decoration: none;
    background: none;
}

.rede_social{
    width: 60px;
}

.texto{
    font-size: 18px;
    line-height: 2;
    text-align: justify;
}

#paragrafo{
    text-align: justify;
    line-height: 1.5;
    padding: 30px;
    margin: auto 60px;
}

.email{
    font-size: 10pt;
    display: inline-block;
}

.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#btnGerar{
    font-family: 'jogo2';
    padding: 10px;
    border: #33CCFF solid 5px;
    font-size: 8pt;
}
#btnGerar:hover{
    border: #1A66CC solid 5px;
    color: white;
}
