#tit {
    font-size: 20pt;
    font-family: 'jogo2';
    color: white;
    margin: 0 0 15px 0;   /* zera margem lateral, só deixa espaço embaixo */
    text-align: left;     /* garante alinhamento à esquerda */
}

div.bpal {
    border-radius: 10px;
    border: white 3px solid;
    width: 170px;
    height: 40px;
    background-color: #3c3c3c;
    color: white;
    margin: 5px 0;        /* só espaçamento vertical, sem empurrar para o lado */
    padding: 5px;
    text-align: center;
}
#pp{
    font-size: 10pt;
    font-family: 'jogo2';
    text-align: center;
    justify-content: center;
    align-items: center;
    display:flex;

}

#sec{
    display: inline-block;
     
}

#principal{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap:50px;
}
#div1{
    width:500px;
    height:500px;
    background-color: white;
    border-radius: 10%;
    text-align:center;
    font-size:30pt;
    margin-left: 0;
    display: flex;
    justify-content: center;  /* Centraliza na horizontal */
    align-items: center;
    
    
}

#div2{
    width:800px;
    height:800px;
    background-color: white;
    border-radius: 10%;
    text-align:center;
    font-size:30pt;
    margin-left: 0;
    display: flex;
    justify-content: center;  /* Centraliza na horizontal */
    align-items: center;
    
    
}

#div3{
    width:900px;
    height:900px;
    background-color: white;
    border-radius: 10%;
    text-align:center;
    font-size:20pt;
    margin-left: 0;
    display: flex;
    justify-content: center;  /* Centraliza na horizontal */
    align-items: center;
    
    
}


