@media screen and (400px <=width <=800px){
    .boxQuadrado{
    width:300px;
    height:20px;
    font-size:20pt;
   }
 
    div.box1BemVindos{
    width:600px;
    height:200px;
    font-size: 15pt;
 
    }
.boxQuadradoCentro{
    border-radius: 10px;
     width:300px;
    height:20px;
      font-size:20pt;
    display: inline-block;
    text-align: center;
    font-family: 'jogo2';
    margin:50px;
    padding:8%;
     align-items: center;
    flex-wrap: wrap;
    gap:20px;

}

#p1{
    font-size: 55pt;
}

div.box1{
    width:600px;
   height:200px;
}
.box2{
    width:150px;
    height:35px;
    line-height: 30px;
    text-align: center;
    justify-content: center;
}
#tema{
     font-size: 15pt;
}
.a1{
    font-size: 15pt;;
}

.box3{ 
    width:100px;
    height:20px;
    font-size:10pt;
    
}

#placar{ 
    width:200px;
    height:20px;
    font-size:10pt;
    
}
#openModal{
    font-size: 20pt;
}

#div1{
    width:520px;
    height:450px;
    font-size:10pt;
  
    
}
a.btn{
    font-size: 10pt;
}
#btnGerar{
    font-size: 10pt;
}
#tit{
    font-size:12pt;
}
div.bpal{
    border-radius: 10px;
 
    width: 100px;
    height: 20px;
   
     
    margin: 5px 0;        /* só espaçamento vertical, sem empurrar para o lado */
    padding: 5px;
    text-align: center;
}
#pp{
    font-size: 7pt;
}
#div2{
    width:850px;
    height:650px;
    font-size:11pt;
}
#div3{
    width:900px;
    height:800px;
    font-size:10pt; 
}

#p2{
    font-size:30pt;
}
h3{
    font-size: 14pt;
}
.bolinha{
    height: 120px;
    
}

p.texto{
    font-size: 10pt;
       
    
}
.foto{
    font-size: 15pt;
     
}
h5{
    font-size: 10pt;
}
.rede_social{
    width: 20px;
}
.email{
    font-size: 6pt;
    
}
#paragrafo{
    font-size:9pt;
}
div.facilmatriz{
    font-size: 10pt;
}


.grid-cell{
font-size:10px;
 letter-spacing: -0.5px;
 
}


}


@media screen and (800px <=width <=1600px){
    .boxQuadrado{
    width:300px;
    height:20px;
    font-size:20pt;
   }
 
    div.box1BemVindos{
    width:900px;
    height:240px;
    font-size: 19pt;
 
    }
.boxQuadradoCentro{
    border-radius: 10px;
     width:300px;
    height:20px;
      font-size:20pt;
    display: inline-block;
    text-align: center;
    font-family: 'jogo2';
    margin:50px;
    padding:8%;
     align-items: center;
    flex-wrap: wrap;
    gap:20px;

}

#p1{
    font-size: 130pt;
}

div.box1{
    width:900px;
   height:300px;
}

.box2{
    width:200px;
    height:60px;
    line-height: 55px;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}
#tema{
     font-size: 15pt;
}
.a1{
    font-size: 19pt;
}

.box3{ 
    width:150px;
    height:40px;
    font-size:15pt;
    
}

#placar{ 
    width:200px;
    height:20px;
    font-size:10pt;
    
}
#openModal{
    font-size: 20pt;
}

#div1{
    width:520px;
    height:450px;
    font-size:10pt;
  
    
}
a.btn{
    font-size: 13pt;
}
#btnGerar{
    font-size: 10pt;
}
#tit{
    font-size:15pt;
}
div.bpal{
    border-radius: 10px;
 
    width: 200px;
    height: 50px;
   
     
    margin: 5px 0;        /* só espaçamento vertical, sem empurrar para o lado */
    padding: 5px;
    text-align: center;
}
#pp{
    font-size: 11fpt;
}
#div2{
    width:850px;
    height:650px;
    font-size:11pt;
}
#div3{
    width:900px;
    height:800px;
    font-size:10pt; 
}

#p2{
    font-size:30pt;
}
h3{
    font-size: 14pt;
}
.bolinha{
    height: 120px;
    
}

p.texto{
    font-size: 10pt;
       
    
}
.foto{
    font-size: 15pt;
     
}
h5{
    font-size: 10pt;
}
.rede_social{
    width: 20px;
}
.email{
    font-size: 6pt;
    
}
#paragrafo{
    font-size:9pt;
}
div.facilmatriz{
    font-size: 10pt;
}


.grid-cell{
font-size:16px;
 letter-spacing: -0.5px;
 
}

#div1{
    width: 550px;
    height: 550px;
}

#div3{
    width: 1000px;
    height: 800px;
}

#timer{
    font-size: 12pt;
    display: inline-block;
    height: 70px;
}

#placar{
    font-size: 11pt;
    height: 40px;
    width: 250px;
}


}